/* Contenedor del botón */
.button-container {
    display: flex;
    /* Activa Flexbox */
    justify-content: flex-end;
    /* Empuja el contenido hacia la derecha */
    margin-top: 10px;
    /* Separación desde el encabezado */
    margin-bottom: 20px;
    /* Separación del listado */
}

/* Botón estilizado */
.add-category-button {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-category-button:hover {
    background-color: #005cbf;
}